// Theme colors
$primary: #e60909;
$secondary: #08165a;
$tertiary: #a528a3;
$quaternary: #000000;
$quinary: #000000;

// Text colors
$text-primary: #000000;
$text-secondary: #000000;
$text-tertiary: #000000;
$text-quaternary: #000000;
$text-quinary: #000000;